@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.App {
  background: #fefefe;
  height: 100vh;
  width: 100vw;
  font-family: "Roberto", Arial, Helvetica, sans-serif;
}
.blur {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Searchbar */
.searchbar {
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.searchbar input {
  width: 70%;
  padding: 15px 5px 15px 50px;
  border-radius: 50px;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #222;
}
.search_icon {
  font-size: 20px;
  position: relative;
  left: 2.5rem;
  bottom: 0.1rem;
  color: #222;
}
.searchbar input:focus {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 3px;
}
.search {
  display: flex;
  height: 7rem;
}
.adjustment_icon {
  font-size: 30px;
  position: relative;
  cursor: pointer;
  color: #575757;
  left: 1rem;
}
.adjustment_icon:hover {
  color: #222;
}
.adjustment_popup {
  display: flex;
  flex-direction: column;
  font-family: "Roberto", Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  position: absolute;
  top: 5rem;
  left: 54%;
  z-index: 99999;
  background: #fff;
}
.adjustment_popup span {
  padding: 15px 20px 15px 10px;
  cursor: pointer;
  user-select: none;
}
.adjustment_popup span:first-child,
.adjustment_popup span:nth-child(2) {
  border-bottom: 1px solid rgba(179, 179, 179, 0.16);
}
.adjustment_popup span:hover {
  background: #efefef;
}
/* Searchbar */

/* Single Note  */
.note_list_container {
  margin: 1rem 4rem;
  height: calc(100% - 12rem);
  border-radius: 40px;
}
.note_list_container h2 {
  margin-left: 2.5rem;
  font-size: 32px;
}
.note_list_container > div:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
}
.new_note_btn {
  padding: 10px;
  background: #fec870;
  border-radius: 15px;
  cursor: pointer;
}
.note_list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 100%;
}
.note_list::-webkit-scrollbar {
  display: none;
}
.note {
  width: 300px;
  margin: 1rem 1rem 2rem 1rem;
  border-radius: 20px;
  background: #fec870;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
  cursor: pointer;
  position: relative;
  min-height: 150px;
}
.note::-webkit-scrollbar {
  display: none;
}
.note .title {
  padding: 15px;
  font-weight: 700;
}
.note .body {
  padding: 5px 15px 15px 15px;
}
.note .action_btn {
  position: absolute;
  left: 260px;
  top: 13px;
  cursor: pointer;
  padding: 0 10px;
}
.note .action_btn .actions {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.note .action_btn .actions span {
  padding: 10px 15px;
}
.note .action_btn .actions span:hover {
  background: #f2f2f2;
}
.note .action_btn .actions span:first-child {
  border-bottom: 1px solid #a2a2a2;
}
/* Single Note  */

/* New Note Popup */
.new_note_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.new_note_popup h3 {
  text-align: center;
  font-size: 30px;
  margin: 0.8rem 0;
}
.new_note_popup .inputs {
  display: flex;
  flex-direction: column;
}
.new_note_popup .inputs input,
.new_note_popup .inputs textarea {
  margin: 0.5rem 0 1rem 0;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 1.5rem;
  color: #222;
  padding: 0.5rem;
  resize: none;
  width: 100%;
}
.new_note_popup .inputs textarea {
  height: 100px;
  overflow-y: auto;
  width: 500px;
}
.new_note_popup label {
  font-size: 20px;
  font-weight: 700;
}
.new_note_popup .create_note_btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 1.5rem 0 0.5rem 0;
}
.new_note_popup .create_note_btn button {
  padding: 10px 15px;
  background: #fec870;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.close_popup {
  position: absolute;
  right: 15px;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  padding-bottom: 2px;
}
.close_popup:hover {
  background: #dadada;
}
/* New Note Popup */

/* Media Queries */
@media (max-width: 1250px) {
  .adjustment_popup {
    left: 60%;
  }
}
@media (max-width: 750px) {
  .new_note_popup {
    width: 350px;
  }
  .new_note_popup .inputs textarea {
    width: 350px;
  }
}
@media (max-width: 600px) {
  .searchbar input {
    width: 100%;
  }
  .searchbar input {
    width: 100%;
  }
  .searchbar {
    width: 70%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  .adjustment_popup {
    top: 6rem;
    left: 40%;
  }
  .new_note_popup {
    width: 250px;
  }
  .new_note_popup .inputs textarea {
    width: 250px;
  }
  .new_note_popup {
    padding: 1.5rem 2rem 0 1.5rem;
  }
  .new_note_popup .create_note_btn {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
/* Media Queries */
